{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-const": "error",
    "indent": ["off", 2],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"]
  }
}
